<template name="articles">
    <h1>Broad Science Articles for a Department of Energy Newsletter</h1>
    <div class="container marketing" style="margin-top: 70px">

      <div class="row featurette">
        <div class="col-md-9">
          <a style="color:#20b2aa; font-size:200%" href="http://www.energyfrontier.us/newsletter/201512/perspectives-women-energy-science" target="_blank">Perspectives on Women in Energy Science</a>
          <p class="lead">What will it take to achieve the diversity needed to solve the nation's toughest energy challenges? Scientists at the EFRCs take on this question and more...</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="http://www.energyfrontier.us/sites/default/files/imagecache/newsletter_article/EFRC-Women-in-Energy-Figure_web.jpg" alt="Women in energy">
        </div>
      </div>

      
      <div class="row featurette">
        <div class="col-md-9 col-md-push-3">
          <a style="color:#20b2aa; font-size:200%" href="http://www.energyfrontier.us/newsletter/201508/catalytic-cycle-built-two" target="_blank">A Catalytic Cycle Built for Two</a>
          <p class="lead">Fuel cells can use hydrogen created at wind stations to produce electricity. But, the cells use platinum. Researchers found an option that uses two nitrogen...</p>          
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img class="featurette-image img-responsive center-block" src="http://www.energyfrontier.us/sites/default/files/imagecache/newsletter_article/Fuel%20cell%20bicycle-2.jpg" alt="Half cell">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9" style="margin-top:30px;">
          <a style="color:#20b2aa; font-size:200%;" href="http://www.energyfrontier.us/newsletter/201505/performable-perovskites" target="_blank">Performable Perovskites</a>
          <p class="lead">Commercial solar panels have primarily used silicon for decades, but now a new material, perovskite, is revolutionizing the solar energy field, but the toxic element lead and the long-term stability of perovskites remain major challenges. At the ANSER center, researchers are taking on these challenges...</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="http://www.energyfrontier.us/sites/default/files/imagecache/newsletter_article/Fig1-perovskite-crystal-square300w.jpg" alt="Perovskite">
        </div>
      </div>    
      


      <footer>
        <p class="pull-right" style="margin-top: 70px"><a href="#">Back to top</a></p>
      </footer>

    </div>
</template>