<template name="other">
    <h1>Other Experience Gained in My Time in Academia</h1>
    <div class="container marketing" style="margin-top: 70px">

      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="https://parc.wustl.edu/files/parc/albums/img_8860.jpg" alt="Presenting Poster">
          <h2 style="color:#20b2aa;" >Science Conferences</h2>          
          <p class="lead">Spoke at the Photosynthetic Antenna Research Center Yearly Meeting in June 2014.</p>
          <p class="lead">Spoke at the Gordon Research Seminar on Renewable Energy Solar Fuels and presented a poster at the associated conference in January 2014.</p>
          <p class="lead">Invited to speak at the Light Harvesting Satellite Meeting of the International Congress on Photosynthesis in August 2013 and presented a poster at the general session of the International Congress on Photosynthesis.</p>
          <p class="lead">Presented a poster as one of three graduate students representing the Phototsynthetic Antenna Research Center at the Department of Energy's Energy Fronteir Research Center Meeting in July 2013.</p>
          <p class="lead">Spoke at the Biofuels and Sustainable Energy session at the American Chemical Society National Meeting and presented a poster at the general session in April 2013.</p>
          <p class="lead">Spoke at the Midwest Photosynthesis Conference in November 2012.</p>
          <p class="lead">Spoke at the Photosynthetic Antenna Research Center Yearly Meeting in July 2012.</p>
          <p class="lead">Presented a poster at the American Chemical Society Midwest Conference in October 2011.</p>
        </div>

        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/terminal01/2011/7/26/11/enhanced-buzz-14288-1311694145-9.jpg" alt="chem cat" style="height:240px">
          <h2 style="color:#20b2aa">Teaching Experience</h2>
          <p class="lead">Teaching assistant at Washington University in St. Louis for advanced physical chemistry lab in Spring 2010 and 2011. I led experiments three times a week and helped prepare experiments and materials for the course.</p>
          <p class="lead">Teaching assistant at Washington University in St. Louis for general chemistry lab in Fall 2009 and 2010. I led experiments once a week and graded lab reports and exams.</p>
          <p class="lead">Teaching assistant at the University of Illinois in Urbana-Champaign for general chemistry lab in Fall 2008. I led experiments once a week and graded lab reports.</p>
        </div>

        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="/images/nupf2.jpg" alt="nupf">
          <h2 style="color:#20b2aa">Leadership Experience</h2>
          <p class="lead">Social Chair of the Northwestern University Postdoctoral Forum for 2016. Responsible for organizing networking events and group activities.</p>
          <p class="lead">Organizer and leader of online graduate student seminars for the Photosynthetic Antenna Research Center in 2013 to 2014.</p>
          <p class="lead">Member of Marcus Lecture Committee responsible for organizing guest speakers for a yearly seminar at Washington Unversity in St. Louis in 2010 and 2011.</p>

        </div>
      </div>
      


      <footer>
        <p class="pull-right" style="margin-top: 70px"><a href="#">Back to top</a></p>
      </footer>

    </div>
</template>


