<template name="publications">
    <h1>Peer-Reviewed Publications</h1>
    <div class="container marketing" style="margin-top: 70px">

      <div class="row featurette">
        <div class="col-md-9 col-md-push-3">
          <h2>Deep-Hole Transfer Leads to Ultrafast Charge Transfer in DNA Hairpins</h2>
          <p class="lead">Nicolas Renaud*, Michelle A. Harris*, Arunoday P. N. Singh*, Yuri A. Berlin, Mark A. Ratner, Michael R. Wasielewski, Frederick D. Lewis, and Ferdinand C. Grozema. Under Review at Nature Chemistry.</p>
          <p class="lead"> *These Authors Contributed Equally </p>
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img class="featurette-image img-responsive center-block" src="/images/Temp.jpg" alt="Temperature Dependence" style="margin-top:30px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9">
          <h2>Direct Observation of the Intermediates in DNA Photoinduced Charge Transport</h2>
          <p class="lead">Michelle A. Harris, Ryan M. Young, Ashutosh Kumar Mishra, Kristen E. Brown, Michael R. Wasielewski, and Fredrick D. Lewis. Recently Accepted at Journal of the American Chemical Society. </p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="/images/TOC_DPA.jpg" alt="DPA" style="margin-top:15px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9 col-md-push-3">
          <h2>Hole Transport in DNA Hairpins Via Base Mismatches and Strand Crossings: Efficiency and Dynamics</h2>
          <p class="lead">Arun K. Thazhathveetil, Michelle A. Harris, Ryan M. Young, Michael R. Wasielewski, and Frederick D. Lewis. Journal of Photochemistry and Photobiology A: Chemistry, 2016,  <a href="http://www.sciencedirect.com/science/article/pii/S1010603016000605">DOI: 10.1016/j.jphotochem.2016.03.002</a>.</p>
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img class="featurette-image img-responsive center-block" src="http://ars.els-cdn.com/content/image/1-s2.0-S1010603016000605-fx1.jpg" alt="Temperature Dependence" style="margin-top:80px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9">
          <h2>Photoinduced Charge and Energy Transfer within meta-and para-Linked Chlorophyll a-Perylene-3, 4: 9, 10-bis (dicarboximide) Donor-Acceptor Dyads</h2>
          <p class="lead">Guan-Jhih Huang, Michelle A. Harris, Matthew D. Krzyaniak, Eric A. Margulies, Scott M. Dyar, Rebecca J. Lindquist, Yilei Wu, Vladimir V. Roznyatovskiy, Yi-Lin Wu, Ryan M. Young, and Michael R. Wasielewski. The Journal of Physical Chemistry B, 2016, 120, 756-765, <a href="http://pubs.acs.org/doi/abs/10.1021/acs.jpcb.5b10806">DOI: 10.1021/acs.jpcb.5b10806</a>. </p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="http://pubs.acs.org/appl/literatum/publisher/achs/journals/content/jpcbfk/2016/jpcbfk.2016.120.issue-4/acs.jpcb.5b10806/20160129/images/medium/jp-2015-10806n_0009.gif" alt="TOC" style="margin-top:70px;">
        </div>
      </div>

      
      <div class="row featurette">
        <div class="col-md-9 col-md-push-3">
          <h2>Raising the Barrier for Photoinduced DNA Charge Injection with a Cyclohexyl Artificial Base Pair </h2>
          <p class="lead">Arunoday P. N. Singh, Michelle A. Harris, Ryan M. Young, Stephen A. Miller, Michael R. Wasielewski, and Frederick D. Lewis. Faraday Discussions, 2015, 185, 105-120, <a href="http://pubs.rsc.org/en/Content/ArticleLanding/2015/FD/C5FD00043B#!divAbstract">DOI: 10.1039/C5FD00043B</a>. </p>
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img class="featurette-image img-responsive center-block" src="/images/Cyclo_fig.jpg" alt="Spectra">
        </div>
      </div>


      <div class="row featurette">
        <div class="col-md-9">
          <h2>Self-Assembled Light-Harvesting System from Chromophores in Lipid Vesicles</h2>
          <p class="lead">Tuba Sahin, Michelle A. Harris, Pothiappan Vairaprakash, Dariusz M. Niedzwiedzki, Vijaya Subramanian, Andrew P. Shreve, David F. Bocian, Dewey Holten, and Jonathan S. Lindsey. The Journal of Physical Chemistry B, 2015, 119, 10231-10243, <a href="http://pubs.acs.org/doi/abs/10.1021/acs.jpcb.5b04841">DOI: 10.1021/acs.jpcb.5b04841</a>. </p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="http://pubs.acs.org/appl/literatum/publisher/achs/journals/content/jpcbfk/2015/jpcbfk.2015.119.issue-32/acs.jpcb.5b04841/20150807/images/medium/jp-2015-04841n_0011.gif" alt="TOC" style="margin-top:50px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9 col-md-push-3">
          <h2>Effects of Substituents on Synthetic Analogs of Chlorophylls. Part 4: How Formyl Group Location Dictates the Spectral Properties of Chlorophylls b, d and f</h2>
          <p class="lead">Jonathan M. Yuen, Michelle A. Harris, Mengran Liu, James R. Diers, Christine Kirmaier, David F. Bocian, Jonathan S. Lindsey, and Dewey Holten. Photochemistry and Photobiology, 2015, 91, 331-342, <a href="http://onlinelibrary.wiley.com/doi/10.1111/php.12401/abstract">DOI: 10.1111/php.12401</a>.</p>
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img class="featurette-image img-responsive center-block" src="http://onlinelibrary.wiley.com/store/10.1111/php.12401/asset/image_m/php12401-toc-0001-m.png?v=1&s=e13350e7839ce9dd263015f3801d552960806e30" alt="TOC" style="margin-top:70px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9">
          <h2>Enhanced Light-Harvesting Capacity by Micellar Assembly of Free Accessory Chromophores and LH1-like Antennas</h2>
          <p class="lead">Michelle A. Harris, Tuba Sahin, Jianbing Jiang, Pothiappan Vairaprakash, Pamela S. Parkes-Loach, Dariusz M. Niedzwiedzki, Christine Kirmaier, Paul A. Loach, David F. Bocian, Dewey Holten, and Jonathan S. Lindsey. Photochemistry and Photobiology, 2014, 90, 1264-1276, <a href="http://onlinelibrary.wiley.com/doi/10.1111/php.12319/abstract">DOI: 10.1111/php.12319</a>. </p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="http://onlinelibrary.wiley.com/store/10.1111/php.12319/asset/image_m/php12319-toc-0001-m.png?v=1&s=600cc92d1af43e31ca87f02591c72d1f49aaa17b" alt="TOC" style="margin-top:50px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9 col-md-push-3">
          <h2>Amphiphilic, Hydrophilic, or Hydrophobic Synthetic Bacteriochlorins in Biohybrid Light-Harvesting Architectures: Consideration of Molecular Designs</h2>
          <p class="lead">Jianbing Jiang, Kanumuri Ramesh Reddy, M. Phani Pavan, Elisa Lubian, Michelle A. Harris, Jieying Jiao, Dariusz M. Niedzwiedzki, Christine Kirmaier, Pamela S. Parkes-Loach, Paul A. Loach, David F. Bocian, Dewey Holten, and Jonathan S. Lindsey. Photosynthesis Research, 2014, 122, 187-202, <a href="http://link.springer.com/article/10.1007/s11120-014-0021-9">DOI: 10.​1007/​s11120-014-0021-9</a>.</p>
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img class="featurette-image img-responsive center-block" src="/images/amph_fig.jpg" alt="Spectra">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9">
          <h2>Versatile Design of Biohybrid Light-Harvesting Architectures to Tune Location, Density, and Spectral Coverage of Attached Synthetic Chromophores for Enhanced Energy Capture</h2>
          <p class="lead">Michelle A. Harris, Jianbing Jiang, Dariusz M. Niedzwiedzki, Jieying Jiao, Masahiko Taniguchi, Christine Kirmaier, Paul A. Loach, David F. Bocian, Jonathan S. Lindsey, Dewey Holten, and Pamela S. Parkes-Loach. Photosynthesis Research, 2014, 121, 35-48, <a href="http://link.springer.com/article/10.1007/s11120-014-9993-8">DOI: 10.​1007/​s11120-014-9993-8</a>.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="/images/LHC3.jpg" alt="LH">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9 col-md-push-3">
          <h2>Protein Influence on Charge-Asymmetry of the Primary Donor in Photosynthetic Bacterial Reaction Centers Containing a Heterodimer: Effects on Photophysical Properties and Electron Transfer</h2>
          <p class="lead">Michelle A. Harris, Craig A. Luehr, Kaitlyn M. Faries, Marc Wander, Lucas Kressel, Dewey Holten, Deborah K. Hanson, Philip D. Laible, and Christine Kirmaier. The Journal of Physical Chemistry B, 2013, 117, 4028-4041, <a href="http://pubs.acs.org/doi/abs/10.1021/jp401138h">DOI: 10.1021/jp401138h</a>.</p>
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img class="featurette-image img-responsive center-block" src="http://pubs.acs.org/appl/literatum/publisher/achs/journals/content/jpcbfk/2013/jpcbfk.2013.117.issue-15/jp401138h/production/images/medium/jp-2013-01138h_0009.gif" alt="TOC" style="margin-top:70px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9">
          <h2>Integration of Multiple Chromophores with Native Photosynthetic Antennas to Enhance Solar Energy Capture and Delivery</h2>
          <p class="lead">Michelle A. Harris, Pamela S. Parkes-Loach, Joseph W. Springer, Jianbing Jiang, Elizabeth C. Martin, Pu Qian, Jieying Jiao, Dariusz M. Niedzwiedzki, Christine Kirmaier, John D. Olsen, David F. Bocian, Dewey Holten, C. Neil Hunter, Jonathan S. Lindsey, and Paul A. Loach. Chemical Science, 2013, 4, 3924-3933, <a href="http://pubs.rsc.org/en/Content/ArticleLanding/2013/SC/c3sc51518d#!divAbstract">DOI: 10.1039/C3SC51518D</a>.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="http://pubs.rsc.org/services/images/RSCpubs.ePlatform.Service.FreeContent.ImageService.svc/ImageService/image/GA?id=C3SC51518D" alt="TOC" style="margin-top:70px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9 col-md-push-3">
          <h2>Palette of Lipophilic Bioconjugatable Bacteriochlorins for Construction of Biohybrid Light-Harvesting Architectures</h2>
          <p class="lead">Kanumuri Ramesh Reddy, Jianbing Jiang, Michael Krayer, Michelle A. Harris, Joseph W. Springer, Eunkyung Yang, Jieying Jiao, Dariusz M. Niedzwiedzki, Dinesh Pandithavidana, Pamela S. Parkes-Loach, Christine Kirmaier, Paul A. Loach, David F. Bocian, Dewey Holten, Jonathan S. Lindsey. Chemical Science, 2013, 4, 2036-2053, <a href="http://pubs.rsc.org/en/Content/ArticleLanding/2013/SC/c3sc22317e#!divAbstract">DOI: 10.1039/C3SC22317E</a>.</p>
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img class="featurette-image img-responsive center-block" src="http://pubs.rsc.org/services/images/RSCpubs.ePlatform.Service.FreeContent.ImageService.svc/ImageService/image/GA?id=C3SC22317E" alt="TOC" style="margin-top:70px;">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-9">
          <h2>Biohybrid Photosynthetic Antenna Complexes for Enhanced Light-Harvesting</h2>
          <p class="lead">Joseph W. Springer, Pamela S. Parkes-Loach, Kanumuri Ramesh Reddy, Michael Krayer, Jieying Jiao, Gregory M. Lee, Dariusz M. Niedzwiedzki, Michelle A. Harris, Christine Kirmaier, David F. Bocian, Jonathan S. Lindsey, Dewey Holten, and Paul A. Loach. Journal of the American Chemical Society, 2012, 134, 4589-4599, <a href="http://pubs.acs.org/doi/abs/10.1021/ja207390y">DOI: 10.1021/ja207390y</a>.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive center-block" src="http://pubs.acs.org/appl/literatum/publisher/achs/journals/content/jacsat/2012/jacsat.2012.134.issue-10/ja207390y/production/images/medium/ja-2011-07390y_0009.gif" alt="TOC" style="margin-top:70px;">
        </div>
      </div>


      <footer>
        <p class="pull-right" style="margin-top: 70px"><a href="#">Back to top</a></p>
      </footer>

    </div>
</template>