<template name="research">
    <h1>Research Projects</h1>
    <div class="container marketing" style="margin-top: 70px">

      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/DPA1.jpg" alt="DPA1" style="height: 328px">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/DPA2.jpg" alt="DPA2" style="height: 328px">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/Temp.jpg" alt="Temp" style="height: 328px">
        </div>
        <div class="col-md-12">
          <h2 style="color:#20b2aa;" >Electron Transfer in DNA</h2>          
          <p class="lead">I study charge transport in DNA hairpins using various hole donors to alter the energetics of the system. I use transient absorption spectroscopy to find the rate of hole transport as well as the charge recombination to the ground state. I then analyze the date using first order, global kinetic models to understand and characterize the complex dynamics of hole transport from the initial donor, naphthalene diimide, over a number of adenine and guanine bases, and finally to the ultimate acceptor.</p>
          <p class="lead">My projects on charge transport in DNA have resulted in two first-author papers. One project focused on the temperature dependence of charge transport rates. The results acquired helped to develop and confirm a computational model of charge transport in DNA. The second project investigated charge transport in DNA hairpins with a small molecule hole donor. Through transient absorption spectroscopy, I was able to identify the visible region spectral signatures of the intermediate guanine cation and adenine cation due the minimal spectral signatures and ideal energetic of the hole donor.</p>
        </div>
      </div>

      <div class="row featurette" style="margin-top: 70px">
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/LHC3.jpg" alt="LHC3">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/LHC2.jpg" alt="LHC2" style="height: 328px">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/LHC1.jpg" alt="LHC1" style="height: 328px">
        </div>
        <div class="col-md-12">
          <h2 style="color:#20b2aa;" >Energy Transfer in Hybrid Photosynthetic Light Harvesting Complex</h2>          
          <p class="lead">The light harvesting complex (LHC) in photosynthetic purple bacteria, with its near unity quantum yield, is a natural model of efficient light capture. I studied hybrid LHCs which incorporated covalently attached synthetic bacteriochlorophylls and dyes. The synthetic chromophores were tailored to absorb wavelengths of light not typically absorbed by the LHC in nature in order to fill in more of the solar spectrum and, thus, capture more energy. </p>
           <p class="lead">Using several static and time-resolved spectroscopic techniques, I obtained the energy transfer rates from the attached synthetic chromophore to the LHC’s native bacteriochlorophylls. My collaborators and I were able to design biohybrid LHCs with energy transfer efficiencies comparable to the native LHC with the capability to absorb a greater range of light.</p>
        </div>
      </div> 

      <div class="row featurette" style="margin-top: 70px">
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/MA2.jpg" alt="MA2" style="height: 328px">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/MA3.jpg" alt="MA3" style="height: 328px; width: 346px">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/MA4.jpg" alt="MA4" style="height: 328px">
        </div>
        <div class="col-md-12">
          <h2 style="color:#20b2aa;" >Simple Assembly of Light Harvesting Complexes and Chromophores</h2>          
          <p class="lead">By using lipid micelles and vesicles, I combined chromophores and the light harvesting complexes (LHCs) or multiple types of chromophores without covalent attachment. I measured and analyzed the rates of energy transfer from donor to acceptor, either between two synthetic chromophores or from a synthetic chromophore to bacteriochlorophyll within the LHC. Through this, I was able to determine the average distance between donor and acceptor. For both the chromophore-LHC micellar assembly and the multi-chromophore lipid vesicle, I found that the energy transfer rates and the average distances are comparable to those in covalently attached systems as well as in the native LHC. </p>
        </div>
      </div>    

      <div class="row featurette" style="margin-top: 70px">
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/RC1.jpg" alt="RC1" style="height: 328px">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/RC4.jpg" alt="RC4" style="height: 328px">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/RC2.jpg" alt="RC2" style="height: 328px">
        </div>
        <div class="col-md-12">
          <h2 style="color:#20b2aa;" >Electron Transfer in Photosynthetic Reaction Center of Purple Bactera</h2>          
          <p class="lead">Understanding the rapid charge separation in the photosynthetic reaction center is crucial to designing a more efficient way to process solar energy. In purple bacteria photosynthesis, the electron transfer from the initial chlorophyll dimer occurs only down one half of the reaction center, whereas in plant photoysnthesis, the electron transfer is more efficient and occurs down both halves of the reaction center. </p>
          <p class="lead">By introducing strategic mutations, I perturbed the electron transfer within the reaction center in order to investigate whether energetic versus orbital overlap factors contribute more to the unidirectional electron transfer. Using ultrafast spectroscopy to probe the electron transfer rate in a variety of mutants, I discovered that, in the native photosynthetic reaction center, the initial donor, a chlorophyll dimer, has more electron density on the half of the dimer closer to the inactive branch contrary to expectations of more electron density on the side of the dimer near the active branch. Establishing crucial characteristics in electron transfer in the reaction center of purple bacteria led to a greater understanding of how electron transfer in plant photosynthesis occurs and will help devise biomimetic donor-acceptor systems for use in solar energy devices.</p>
        </div>
      </div>      
      


      <footer>
        <p class="pull-right" style="margin-top: 70px"><a href="#">Back to top</a></p>
      </footer>

    </div>
</template>