<template name="scuba">
    <h1>Scuba Diving Adventures</h1>
        <div class="container marketing" style="margin-top: 70px">

      <div class="row featurette">
        <div class="col-md-12">   
          <p class="lead">I have been scuba diving since I was 12. I've dove in a number of different places: in Crystal River with the manatees, off the Cayman Islands with the sting rays, off the Galapagos Islands with the whale sharks, as well as in Curacao and a few other islands in the Caribbean. Even though, I have always lived in the midwest, I have always loved the ocean. I try to visit any ocean whenever I can. Below a few images from my scuba diving adventures.</p>
        </div>
      </div>

      <div class="row featurette" style="margin-top: 70px">
       <div class="col-md-12">
          <h2 style="color:#20b2aa;" >Cayman Islands</h2>          
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive1.jpg" alt="dive1">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive2.jpg" alt="dive2">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive3.jpg" alt="dive3" >
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive4.jpg" alt="dive4">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive5.jpg" alt="dive5">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive6.jpg" alt="dive6">
        </div>
      </div> 

      <div class="row featurette" style="margin-top: 70px">
       <div class="col-md-12">
          <h2 style="color:#20b2aa;" >Galapagos Islands</h2>          
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive7.jpg" alt="dive7">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive8.jpg" alt="dive8">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive9.jpg" alt="dive9" >
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive13.jpg" alt="dive13">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive14.jpg" alt="dive14">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive15.jpg" alt="dive15">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive16.jpg" alt="dive16">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive17.jpg" alt="dive17">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive18.jpg" alt="dive18">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive10.jpg" alt="dive10">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive11.jpg" alt="dive11" style="height: 535px; width: 360px">
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-thumbnail img-responsive center-block" src="/images/dive12.jpg" alt="dive12">
        </div>
      </div>      
      


      <footer>
        <p class="pull-right" style="margin-top: 70px"><a href="#">Back to top</a></p>
      </footer>

    </div>
</template>